/*-----------------Header-------------------*/

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}



.header{
    background-color: rgb(10, 150, 10);
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;

}

.nav_link{
    color: white;
    text-decoration: none;

}

.logo img{
    width: 100%;
    height: 80px;
}



.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}
.nav-menu-item{
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}

.nav-menu-link{
    padding: 8px 12px;
    border-radius: 3px;
}

.nav-menu-link:hover{
    background-color: rgb(4, 94, 4);
    transition: 0.5s;
}

.boton{
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    display: none;
}

@media (max-width: 768px){
    
    
    
    
    .header{
        height: 60px;
    }
        
    .nav-menu{
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
        background-color: rgb(26, 117, 8);
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 20px 0;
        left: 100%;
        transition: left 0.5s;
    }
    .nav-menu-item{
        line-height: 70px;
    }
    
    .nav-menu-link:hover{
        background-color: rgb(4, 94, 4);
        transition: 0.5s;
    }

    .boton{
        display: block;
    }

    .nav-menu-visible{
        left: 0;

    }


}
    
@media (max-width: 991px){
    .logo img{
        display: none;
    }
    

}

/*-----------------Fin Header-------------------*/


/*-----------------Perfil Profesor-------------------*/


body{
    background-color: #2a2e33;
}

.perfil{
	width: 60%;
	font-size: 20px;
    align-items: center;
    
}

.imagenPerfil{
    margin-left: 200px;
    min-width: 25%;
	width: 25%;
    height: 25%;
    min-height: 25;
    border-radius: 50%;
}

.datos_perfil{
	list-style: none;
	color: white;
	
}

.palabras{
    margin: 5%;
    font-size: 50px;
}

.perfilEntero{
    justify-content: space-between;
    display: flex;
    margin-top: 10%;
}

.salir{
	font-size: 30px;
	float: right;
	padding: 4px;
	border: 2px solid gray;
	margin-right: 100px;
    border-radius: 30%;
}

.salir a{
	text-decoration:none;
	color: white;
}

@media (max-width: 768px){

    .perfil{
        width: 120%;
    }

    .palabras{
        font-size: 20px;
        
    }
    .perfilEntero img{
        margin-bottom: 30px;
    }

}

@media (max-width: 991px){

    .perfilEntero{
        
        display: inline-block;
        width: 80%;
    }
    .palabras{
        font-size: 35px;
    }

    .imagenPerfil{
        width: 60%;
    }

    .perfil{
        width: 120%;
    }
    
}

/*-----------------Fin Perfil Profesor-------------------*/