:root {
	/*Sirven como variables para los colores mas usados, se acceden con var(--COLOR)*/
	--Accent: #2c9c00;
	--Grey: #59646d;
	--Light-Grey: #c0c7cc;
	--Lightest-Grey: #eedede;
	--Dark-Grey: #2a2e33;
	--Darker-Grey: rgb(32, 32, 32);
}

/* //////////////////////////////////// */
/* ///////////// NAV ////////////////// */
/* //////////////////////////////////// */

.nav-top ul {
	z-index: 999;  /*Se asegura que ningun elemento lo tape*/
	list-style-type: none;
	margin: 0;
	padding: 0;
	height: auto;
	margin-bottom: 2000px;
	overflow: hidden;
	background-color: var(--Yellow);
	top: 0;
	width: 100%;
	position: fixed;
	display: flex;
	justify-content: center;
	flex-wrap: nowrap;
}

.nav-top li {
	height: 15vh;
	min-height: 140px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav-top-item-1 {
	width: 50%;
	background-color: var(--Darker-Grey);
}

.nav-top-item-big-logo, .nav-top-perfil {
	width: 25%;
	background-color: var(--Dark-Grey);
}

.nav-top-item-big-logo img {
	width: 100%;
}

.nav-top-perfil img {
	width: 120px;
	height: 120px;
	border-radius: 50%;
}

.nav-top h1 {
	font-size: 5rem;
	font-weight: bolder;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	letter-spacing: .5rem;
	color: white;
}

/*---------------------------------------------------------------------------------------------------------*/

.div-alumnos {
	margin-top: 150px;
}
