
.formulario{
    display: flex;
    padding-left: 13%;
}
.salidaAlumno{
    padding: 4%;
    border: 1px solid #000;
    width: 50%;
    height: 600px;
    font-size: 25px;

}



body{
    
    background-color:beige;
    margin: 0;
	padding: 0;

}